@model  foosball_asp.Models.HomeViewModels.IndexViewModel

@{
    ViewData["Title"] = "ASP Foosball";
}

<div class="jumbotron">
    <h1>Welcome to the ASP Foosball Project!</h1>
    <p>Use the links along the top of the page</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">@Html.DisplayNameFor(model => model.LatestGames)</h3>
        @Html.Partial("LatestGames", Model.LatestGames)
    </div>
    <div class="col-md-4">
        <h3 class="text-center">@Html.DisplayNameFor(model => model.HighestScores)</h3>
        @Html.Partial("HighestScores", Model.HighestScores)
    </div>
    <div class="col-md-4">
        <h3 class="text-center">@Html.DisplayNameFor(model => model.Shames)</h3>
        @Html.Partial("Shames", Model.Shames)
    </div>
</div>