@model foosball_asp.Models.GameViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="page-header">Edit Game</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Blue Team</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.BlueTeam.Goalie.PlayerId" />
                                        <button class="btn btn-xs btn-default">Score</button>
                                    </form>
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.BlueTeam.Goalie.PlayerId" />
                                        <input type="hidden" name="owngoal" value="1" />
                                        <button class="btn btn-xs btn-danger">Own Goal</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <strong>@Model.BlueTeam.Goalie.Position</strong>
                            </div>
                            <div class="col-xs-4 text-right">
                                @Model.BlueTeam.Goalie.Username
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.BlueTeam.Defender.PlayerId" />
                                        <button class="btn btn-xs btn-default">Score</button>
                                    </form>
                                    <button class="btn btn-xs btn-danger">Own Goal</button>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <strong>@Model.BlueTeam.Defender.Position</strong>
                            </div>
                            <div class="col-xs-4 text-right">
                                @Model.BlueTeam.Defender.Username
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.BlueTeam.Center.PlayerId" />
                                        <button class="btn btn-xs btn-default">Score</button>
                                    </form>
                                    <button class="btn btn-xs btn-danger">Own Goal</button>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <strong>@Model.BlueTeam.Center.Position</strong>
                            </div>
                            <div class="col-xs-4 text-right">
                                @Model.BlueTeam.Center.Username
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.BlueTeam.Striker.PlayerId" />
                                        <button class="btn btn-xs btn-default">Score</button>
                                    </form>
                                    <button class="btn btn-xs btn-danger">Own Goal</button>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <strong>@Model.BlueTeam.Striker.Position</strong>
                            </div>
                            <div class="col-xs-4 text-right">
                                @Model.BlueTeam.Striker.Username
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Red Team</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.RedTeam.Goalie.PlayerId" />
                                        <button class="btn btn-xs btn-default">Score</button>
                                    </form>
                                    <button class="btn btn-xs btn-danger">Own Goal</button>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <strong>@Model.RedTeam.Goalie.Position</strong>
                            </div>
                            <div class="col-xs-4 text-right">
                                @Model.RedTeam.Goalie.Username
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.RedTeam.Defender.PlayerId" />
                                        <button class="btn btn-xs btn-default">Score</button>
                                    </form>
                                    <button class="btn btn-xs btn-danger">Own Goal</button>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <strong>@Model.RedTeam.Defender.Position</strong>
                            </div>
                            <div class="col-xs-4 text-right">
                                @Model.RedTeam.Defender.Username
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.RedTeam.Center.PlayerId" />
                                        <button class="btn btn-xs btn-default">Score</button>
                                    </form>
                                    <button class="btn btn-xs btn-danger">Own Goal</button>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <strong>@Model.RedTeam.Center.Position</strong>
                            </div>
                            <div class="col-xs-4 text-right">
                                @Model.RedTeam.Center.Username
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form asp-controller="Games" asp-action="Goal" method="post" class="pull-left">
                                        <input type="hidden" name="id" value="@Model.RedTeam.Striker.PlayerId" />
                                        <button class="btn btn-xs btn-default">Score</button>
                                    </form>
                                    <button class="btn btn-xs btn-danger">Own Goal</button>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <strong>@Model.RedTeam.Striker.Position</strong>
                            </div>
                            <div class="col-xs-4 text-right">
                                @Model.RedTeam.Striker.Username
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Scores</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Position</th>
                    <th>Username</th>
                    <th>Own Goal</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in Model.Scores)
                {
                    <tr>
                        <td>@score.Time</td>
                        <td>@score.Position</td>
                        <td>@score.Username</td>
                        <td>@score.OwnGoal</td>
                        <td>@score.Team</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
