@model IEnumerable<foosball_asp.Models.GameViewModels.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <h1>Games <small>List of Games</small></h1>
</div>
<form asp-action="Create" method="get">
    <button class="btn btn-primary">Create Game</button>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlueScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RedScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlueScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RedScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <a asp-action="Edit" asp-route-id="@item.GameId" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit&nbsp;</a>
                            <a asp-action="Delete" asp-route-id="@item.GameId" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
